:root{

    --bg-primary: #000;

    --font-color-primary: #fff;
    --font-color-secondary: #EF6950;
    --font-color-terciary: #333;
    

    --hover-primary: #98582056;

    --border-primary: #98582056;

    --btn-primary: #fff;
    --btn-secondary: #000;

    --font-size-15: 0.938rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-50: 3.125rem;
    
    --font-lobster-regular: "Lobster", sans-serif;
    --font-poopins: "Poppins", sans-serif;

}